.reactContainer{
    display: flex;
    padding-top: 10px;
    justify-content: center;
    flex-direction: column;
    div:nth-child(1){
        padding: 25px;
        text-align: center;
        p {
            font-size: 24px;
            font-weight: 500;
        }
    }
    div:nth-child(2){
        padding: 0px 25px 0 25px;
        p {
            padding-top: 15px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}

.reactAnswer9{
    display: flex;
    padding-top: 10px;
    justify-content: center;
    flex-direction: column;
    div {
        display: flex;
        justify-content: center;
        ol {
            padding: 25px;
            li {
                list-style: none;
            }
        }
    }
}

.reactAnswer10{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.reactAnswer18{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}